$colour_purple: #8b60ac;
$colour_purple_dark: #744a94;
$colour_white: #f0f0f0;
$colour_white_dark: #e7e7e7;
$colour_red: #c14545;
$colour_red_light: #d77272;

html, body {
    background: $colour_white;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

html, body, input {
    font-family: "Montserrat", sans-serif;
}

header, h1 {
    background: linear-gradient($colour_purple 0%, $colour_purple_dark 100%);
    color: white;
    margin: 0;
    padding: 0.4em;
    text-align: center;
}

h2, h3 {
    margin: 0;
    padding: 0.6em;
}

main {
    background: $colour_white;

    .content {
        width: 70%;
        max-width: 900px;
        margin: 0 auto;
    }

    .todo {
        background: $colour_white_dark;
        padding: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            margin: 0;
        }

        .material-symbols-outlined {
            font-size: 32px;
            cursor: pointer;

            &:hover {
                color: $colour_purple;
                opacity: 0.5;
            }

            &.delete {
                color: $colour_red;
            }
        }
    }
}
